/recentf
/transient/
/.lsp-session-*
/bookmarks
/org-roam.db
/eshell/history
/eshell/lastdir
/emojis/
/var/
/straight/build*-cache.el
/straight/build*/
/private.el
/url/
/savehist
/.persistent-scratch
/history
/straight/modified/
/places
/eln-cache/
/tramp
/newsticker/
/workspace/
/.org-id-locations
/projects
*.elc
/package-quickstart.el
/multisession/
