[submodule "themes/sketch-themes"]
	path = themes/sketch-themes
	url = https://github.com/dawranliou/sketch-themes.git
[submodule "elpa/clojure-ts-mode"]
	path = elpa/clojure-ts-mode
	url = https://github.com/clojure-emacs/clojure-ts-mode
[submodule "elpa/breadcrumb"]
	path = elpa/breadcrumb
	url = https://github.com/joaotavora/breadcrumb
[submodule "elpa/eglot-booster"]
	path = elpa/eglot-booster
	url = https://github.com/jdtsmith/eglot-booster
[submodule "elpa/tb-keycast"]
	path = elpa/tb-keycast
	url = https://github.com/ir33k/tb-keycast.git
