/amx-items
/auto-save-list/
/elpa/
/projectile-bookmarks.eld
/recentf
/transient/
/backups/
/.lsp-session-*
/bookmarks
/org-roam.db
/eshell/history
/eshell/lastdir
/projectile.cache
/projects
/emojis/
/var/
/custom.el
/straight/build*-cache.el
/straight/build*/
/straight/repos/
/private/
